body {
	background-image: url("../images/body1.png");
	margin: 0px;
	padding: 0px;
}

.jumbotron {
	background-image: url("../images/jumbotron3.jpg")
	/* background-color: orange; */
	/* color: white; */
}

.target-number {
	font-size: 30px;
	background-color: rgb(108, 171, 207);
	border-style: solid;
	border-color: #ddd;
	border-width: 4px;
}

.win-lose-counter {
	background-color: rgb(108, 171, 207);
	border-style: solid;
	border-color: #ddd;
	border-width: 4px;
}

.crystal-images {
	margin-top: 10px;
	margin-bottom: 10px;
}

.total-score {
	color: black;
	background-color: rgb(108, 171, 207);
}
.random-number {
	color:black;
	background-color: rgb(138, 108, 207);
}

.counter-number {
	color:white;
	background-color: rgb(108, 171, 207);
	font-size: 30px;
}